/* Блоки дома начало 
.blocks{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.blocks__row_1{
    width: 1200px;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blocks__row_1__left{
    width: 400px;
    border-left: black solid 2px;
    border-top: black solid 2px;
    border-right: black solid 1px;
    border-bottom: black solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blocks__row_1__mid{
    width: 400px;
    border-left: black solid 1px;
    border-top: black solid 2px;
    border-right: black solid 1px;
    border-bottom: black solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blocks__row_1__right{
    width: 400px;
    border-left: black solid 1px;
    border-top: black solid 2px;
    border-right: black solid 2px;
    border-bottom: black solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blocks__img{
    width: 220px;
    margin-top: 30px;
}
.blocks__h3{
    font-size: calc(var(--sfs)/1.3);
    font-family: var(--serif);
    text-transform: uppercase;
}
.blocks__line{
    border: none;
    background-color: red;
    height: 4px;
    width: 100px;
    margin: 20px 0;
}
.blocks__p{
    display: flex;
    justify-content: center;
    font-size: var(--sfs);
}
блоки дома конец */
/* блоки в классе начало */
.cards{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    border: 2px solid var(--grey);
}
.card:hover{
    border: 5px groove var(--dark-blue);
}
.card__img{
    height: 210px;
    width: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.card__moscow{
    background-image: url(../img/moscow.png);
}
.card__london{
    background-image: url(../img/big-ben.png);
}
.card__africa{
    background-image: url(../img/pyramids.png);
}
.card__h3{
    text-align: center;
    padding: 10px 0;
    font-family: var(--serif);
    font-size: 1.5em;
    height: 85px;
}
.card__line{
    width: 90px;
    height: 5px;
    background-color: red;
    margin: 10px auto 0 auto;
    margin-bottom: 10px;
    cursor: pointer;
    transition: width 0.8s;
}
.card__p{
    width: 220px;
    margin: 10px auto;
    text-align: center;
    font-family: var(--sans-serif);
    font-size: calc(var(--sfs)/1.2);
}
.card__north{
    background-image: url(../img/north-america.png);
}
.card__south{
    background-image: url(../img/south-america.png);
}
.card__australia{
    background-image: url(../img/kangaroo.png);
}
.card__line__helper{
    background-color: green;
    width: 150px;
}