/* Куки самостоятельно */
.cookie{
    position: fixed;
    bottom: 0%;
    z-index: 999;
    height: 130px;
    width: 100%;
    background-color: rgba(41, 65, 77, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-family: var(--sans-serif);
    font-size: var(--sfs);
}
.cookie__logo{
    width: 120px;
    height: 120px;
    margin-left: 5vw;
    background-image: url(../img/cookie_logo_off.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.cookie__logo_helper{
    background-image: url(../img/cookie_logo_on.png);
}
.cookie__text{
    width: 600px;
    height: auto;
}
.cookie__text_p{
    color: white;
}
.cookie__button{
    color: white;
    width: 250px;
    height: 50px;
    font-family: var(--serif);
    font-size: var(--sfs);
    background: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: all 0.5s;
}
.cookie__button:hover{
    background-color: var(--dark-blue);
    cursor: pointer;
    color: var(--underwhite);
}
.cookie__exit{
    color: white;
    font-size: 28px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin-bottom: 100px;   
}
/* модифициорванный крестик для формы захвата */
.form__exit{
    position: absolute;
    left: 50%;
    /* top: 19%; */
    /* Достаточно просто убрать свойство top? */
    margin-left: 160px;
}
.cookie__exit:hover{
    background-color: var(--dark-blue);
    cursor: pointer;
    color: var(--underwhite);
}
.cookie__screamer{
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    background-image: url(../img/cookie_monster.png);
    width: 500px;
    height: 500px;
    z-index: 100500;
    display: none;
    cursor: pointer;
}
/* Куки в классе */
/* .ck_warning{
    position: fixed;
    bottom: 0%;
    background-color: rgba(41, 65, 77, 0.6);
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ck_warning__h3{
    color: white;
    width: 300px;
    background: var(--dark-blue);
    padding: 10px;
    border-radius: 3px;
    align-items: center;
}
.ck_warning__cross{
    position: absolute;
    top: 10px;
    right: 1px;
}
.ck_warning__cross:hover{
    color:red
}
.ck_warning__cross i{
    font-size: 32px;
    cursor: pointer;
}
.form__cross{
    right: 35%;
    top: 20%;
} */