.faq_wrapper{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
}
.faq_panel{
    margin: 10px 0 40px 0;
}
.faq_panel__quest{
    color: white;
    background-color: var(--grey);
    font-size: var(--sfs);
    font-family: var(--serif);
    padding: 7px;
    cursor: pointer;
    border: 2px solid black;
}
.faq_panel__answer{
    font-size: var(--sfs);
    font-family: var(--sans-serif);
    padding: 15px;
    display: none;
    transition: all 1s;
    border: 2px solid black;
}
.faq__helper{
    display: block;
}
/* Стрелки для вращения */
.faq_arrow{
    display: block;
}
.faq_arrow__rt{
    transform: rotate(180deg);
}