.form_wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0%;
    padding: 30px 0;
    /* background-image: url(../img/bg-input.jpg); */
    background-repeat: no-repeat;
    background-size: 144%;
    background-position: 55% 65%;
    width: 100%;
    display: none;
    z-index: 9;
}
.form__h3{
    font-family: var(--serif);
    font-size: calc(var(--sfs)*1.4);
    margin-bottom: 30px;
}
.form_wrapper form{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--grey);
    width: 400px;
    align-items: center;
    padding: 10px 0;
    border-radius: 10px;
    background-color: rgba(41, 65, 77, 0.9);
    /* background-color: rgba(255, 255, 255, 0.3); */
    /* position: fixed;
    top: 10%;
    z-index: 999; */
}
.form_wrapper label{
    font-size: var(--sfs);
    text-align: center;
    margin: 5px 0 10px 0;
    font-family: var(--serif);
    color: white;
}
.form_wrapper input, textarea{
    width: 250px;
    font-size: 20px;
    outline: none;
    padding: 3px;
    border-radius: 4px;
    border: 2px solid var(--grey);
    font-family: var(--sans-serif);
    caret-color: var(--dark-blue);
}
.form_wrapper input::placeholder{
    opacity: 0.6;
}
.form_wrapper button[type="submit"]{
    width: 110px;
    height: 30px;
    border-radius: 4px;
    font-size: 18px;
    font-family: var(--serif);
    background-color: var(--grey);
    color: white;
    margin-top: 10px;
    margin-right: 23%;
    border: none;
    align-self: flex-end;
}
.form_wrapper button[type="submit"]:hover{
    cursor: pointer;
    background-color: var(--dark-blue);
    color: var(--underwhite);
}
.form_wrapper input:focus{
    display: block;
    border: 2px solid var(--dark-blue);
    box-shadow: 2px 3px 3px var(--grey);
}
.form_wrapper textarea{
    /* margin-top: 10px; */
}
.error_message{
    color: red;
    font-style: italic;
    font-size: 20px;
}