.header{
    /* Липкое позиционирование
     position: sticky;
    top: 0px;
    z-index: 999; */    
    position: relative; 
    background-color: var(--grey);
    /* height: 70px; */
    height: 10vh;
    display: flex;
    align-items: center;
    }
    .logo{
    width: 8vh;
    height: 8vh;
    background-image: url('../img/logo2.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: var(--sfs)
    }
    .nav{
    /* width: calc(var(--sfs)*16); */
    width: 500px;
    display: flex;
    justify-content: space-around;
    }
    .nav a{
        color: white;
        text-decoration: none;
        font-family: var(--serif);
        font-size: var(--sfs);
        transition: all 1s;
        /* При установке подчеркивания при наведении, вместо смены цвета transition не работает. Может он не распространяется на text-decoration? */
    }
    .nav a:hover{
        color: var(--dark-blue) !important;
    }
    .side_nav{
        position: fixed;
        top: 15%;
        /* left: 2%; */
        background-color: var(--grey);
        display: flex;
        flex-direction: column; 
        padding: 7px;
        border-radius: 0 5px 5px 0;
        z-index: 999;
        opacity: 0.5;
    }
    .side_nav:hover{
        opacity: 1;
    }
    .side_nav__a{
        color: var(--underwhite);
        margin-left: 10px;
        font-size: calc(var(--sfs)/1.2);
        font-family: var(--serif);
    }
    .side_nav__a:focus{
        color: var(--dark-blue);
    }