.promo{
    height: 100vh;
    width: 1200px;
    background-image: url('../img/main2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 43%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 23%;
}
.action__h3{
    color: var(--underwhite);
    font-size: calc(var(--sfs)*2);
    text-align: center;
    padding-bottom: var(--sfs);
}
.action__btm{
    color: white;
    width: 250px;
    height: 50px;
    background: var(--grey);
    font-size: var(--sfs);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: all 0.5s;
}
.action__btm:hover{
    background-color: var(--dark-blue);
    cursor: pointer;
    color: var(--underwhite);
}
.soc{
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.soc_icons{
    width: calc(var(--sfs)*1.9);
    height: calc(var(--sfs)*1.9);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: var(--sfs);
    border-radius: 8px;
}
.soc_icons_vk{
    background-image: url(../img/vk.png);
    }
.soc_icons_fb{
    background-image: url(../img/facebook.png);
    }
.soc_icons_inst{
    background-image: url(../img/instagram.png);
    }
.info{
    margin: 0 auto;
    width: 1200px;
    border-top: 2px solid white;
}
.info__h3{
    background-color: var(--grey);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--sfs) 0;
    font-size: calc(var(--sfs)*1.3);
    font-family: var(--serif);
    letter-spacing: 1.2px;
    width: 100%;
}
.info-text{
    font-family: var(--sans-serif);
    padding: var(--sfs);
    font-size: calc(var(--sfs)/1.2);
}
.info-text__p{
margin-bottom: var(--sfs);
}
/* О нас оригинал 
.ao-text__p{
    display: flex;
    justify-content: center;
    margin-bottom: var(--sfs);
}
/* О нас через список */
.info__ul{
    text-align: center;
    padding: 30px;
}
.info__ul li{
    font-family: var(--sans-serif);
    font-size: calc(var(--sfs)/1.2);
    list-style-type: none;
    margin-bottom: var(--sfs);
    margin-left: 5px;
}
.info__ul li:nth-child(1):before{
    content: "\1F921";
}
.info__ul li:nth-child(2):before{
    content: "\1F4A4";
}
.info__ul li:nth-child(3):before{
    content: "\2708";
}
.info__ul li:nth-child(4):before{
    content: "\26F1";
}
}
.info__ul:after{
    content: '';
    background-image: url(../img/beach.png);
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
}
}
.info__center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/*  о нас через список все */